/* Style the form container */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


/* Style labels */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Style input fields */
input[type="text"],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style invalid fields */
.error-field {
  border-color: #e74c3c;
}

/* Style error message */
.alert {
  margin-top: 5px;
  color: #e74c3c;
}

/* Style submit button */
button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
.select-width {
  min-width: 220px
}
