.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-button {
  color: black;
  border: 1px solid;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 610px;
}
.change-button {
  color: black;
  border: 1px solid;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.add-button:hover {
  background-color: #007bff;
}
.song-list {
  margin-bottom: 20px;
}
.song-details {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 608px;
  margin-left: 20px;
}

.song-detail {
  margin-top: 10px;
}

.change-button:hover {
  background-color: #007bff;
}
.margin {
  margin-left: 20px;
}
.buttom-margin {
  margin-bottom: 10px
}
