<input
  placeholder="Search Songs"
  [(ngModel)]="searchText"
  (ngModelChange)="searchSongs($event)"
/>
<button routerLink="/add" type="button">Add Song </button>
<app-song-list
  [songLists]="songLists"
  (onSongViewDetailClicked)="showDetails($event)"
></app-song-list>
<div *ngIf="selectedSong.uri">

  <h1>Songs Details</h1>

  <div class="song-detail">
    <div class="song-name">Name: {{ selectedSong.name }}</div>
    <div>Singers: {{ selectedSong.singerList.toString() }}</div>
    <div>Type: {{ selectedSong.type }}</div>
    <button *ngIf="selectedSong.type !== metal" (click)="changeSongToMetal()">Change to metal</button>
  </div>
</div>
