<div class="search-bar">
  <input
    class="margin"
    placeholder="Search Songs"
    [(ngModel)]="searchText"
    (ngModelChange)="searchSongs($event)"
  />
  <button routerLink="/add" class="add-button" type="button">Add Song</button>
</div>
<app-song-list
  [songLists]="songLists"
  (onSongViewDetailClicked)="showDetails($event)"
  class="song-list"
></app-song-list>
<div *ngIf="selectedSong.uri" class="song-details">
  <h1>Song Details</h1>
  <div class="song-detail">
    <div class="song-name">Name: {{ selectedSong.name }}</div>
    <div>Singers: {{ selectedSong.singerList.toString() }}</div>
    <div class="buttom-margin">Type: {{ selectedSong.type }}</div>
    <button
      *ngIf="selectedSong.type !== 'metal'"
      class="change-button"
      (click)="changeSongToMetal()"
    >
      Change to Metal
    </button>
  </div>
</div>

